spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.dialect=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.show-sql=
spring.jpa.properties.hibernate.globally_quoted_identifiers=


spring.mvc.dispatch-options-request=
springdoc.api-docs.path=

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=

jwt.header=
jwt.secret=

